#header
{
    height: 400px;
    h1
    {
        margin-bottom:40px;
        font-size:56px
    }
    .intro{
        font-size:21px;
    }
    

}

.fixed-top {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:999;

}

.navbar{
    padding-top:15px;
    font-size:21px;

}

.navbar-nav{
    list-style:none;
    text-align:end;
    
}

.nav-item{
    display:inline-block;
    margin-left:20px;
}