// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Brand
$col--primary: #6A6969;
$col--primary-hover: #616161;
$col--white: #FFF;
$col--black: #000;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Supplementary


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


$col--error: #E02C2C;