// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

a {
    color: $col--black;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: $col--black;
        text-decoration: none;
    }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
